<html>
	<head>	
		<title>Dmhy BitTorrent Worker</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
			crossorigin="anonymous">
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
			crossorigin="anonymous"></script>
		<link rel="canonical"
			href="https://getbootstrap.com/docs/5.0/examples/sidebars/">
	</head>
	<body>
		<main style="display: flex;">
			<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark"
				style="width: 280px; height:100vh">
				<a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto
					text-white text-decoration-none">
					<span class="fs-5">Dmhy Bittorrent Worker</span>
				</a>
				<hr>
				<ul class="nav nav-pills flex-column mb-auto">
					<li class="nav-item">
						<a href="/" class="nav-link text-white">
							Home
						</a>
					</li>
					<li>
						<a href="/downloadSetting" class="nav-link active">
							Download Setting
						</a>
					</li>
				</ul>
			</div>
			<div style="width:calc(100vw - 280px); height:100vh;flex-shrink: 0;display: flex; overflow: auto;">
				<div class="container">
					<div class="row pt-3">
						<form class="row" action="/runWorker" method="post">
							<div class="col-12 mb-3">
								<button type="submit" class="btn btn-info float-end">Run Worker</button>
							</div>
						</form>	
					</div>
					
					<div class="row border pt-3 mb-3 bg-light">
						<form class="row" action="/createSetting" method="post">
							<div class="col-6 mb-3">
								<label for="name" class="form-label">Name</label>
								<input type="text" name="name" id="name" class="form-control"/>
							</div>
							<div class="col-6 mb-3">
								<label for="category" class="form-label">Category</label>
								<input type="text" name="category" id="category" class="form-control"/>
							</div>							
							<div class="col-12 mb-3">
								<label for="prefix" class="form-label">Prefix</label>
								<input type="text" name="prefix" id="prefix" class="form-control" placeholder=""/>
							</div>
							<div class="col-12 mb-3">
								<label for="suffix" class="form-label">Suffix</label>
								<input type="text" name="suffix" id="suffix" class="form-control" placeholder=""/>
							</div>
							<div class="col-12 mb-3">
								<label for="downloadingFolder" class="form-label">Downloading Folder</label>
								<input type="text" name="downloadingFolder" id="downloadingFolder" class="form-control" placeholder=""/>
							</div>
							<div class="col-12 mb-3">
								<label for="completedFolder" class="form-label">CompletedFolder</label>
								<input type="text" name="completedFolder" id="completedFolder" class="form-control" placeholder=""/>
							</div>
							 <div class="col-12 mb-3">
							    <button type="submit" class="btn btn-primary">Create</button>
							 </div>							
						</form>
					</div>		
					
					<div class="row border pt-3 mb-3 bg-light" th:each="item : ${items}">
						<form class="row" action="/updateSetting" method="post">
							<input type="hidden" name = "rowid" th:value="${item.rowid}"/>
							
							<div class="col-6 mb-3">
								<label for="name" class="form-label">Name</label>
								<input type="text" name="name" id="name" class="form-control" th:value="${item.name}"/>
							</div>
							
							<div class="col-6 mb-3">
								<label for="category" class="form-label">Category</label>
								<input type="text" name="category" id="category" class="form-control" th:value="${item.category}"/>
							</div>
							
							<div class="col-12 mb-3">
								<label for="prefix" class="form-label">Prefix</label>
								<input type="text" name="prefix" id="prefix" class="form-control" th:value="${item.prefix}"/>
							</div>
							
							<div class="col-12 mb-3">
								<label for="suffix" class="form-label">Suffix</label>
								<input type="text" name="suffix" id="suffix" class="form-control" th:value="${item.suffix}"/>
							</div>
							
							<div class="col-12 mb-3">
								<label for="downloadingFolder" class="form-label">Downloading Folder</label>
								<input type="text" name="downloadingFolder" id="downloadingFolder" class="form-control"  th:value="${item.downloadingFolder}"/>
							</div>
							
							<div class="col-12 mb-3">
								<label for="completedFolder" class="form-label">Completed Folder</label>
								<input type="text" name="completedFolder" id="completedFolder" class="form-control"  th:value="${item.completedFolder}"/>
							</div>
								
							<div class="col-12 mb-3">
								<button type="submit" name="action" class="btn btn-danger float-start" onclick="return confirm('Delete confirm')" value="delete">Delete</button>
								<button type="submit" name="action" class="btn btn-success float-end" value="update">Update</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</main>
	</body>
</html>